body{
    margin: 0%;
    padding: 0%;
    background-image: url(BG-OmniW.png);
    background-size: cover;
    background-repeat: no-repeat;
    background: fixed;
}


hr {
    width: 50%;
    margin: auto;
    color: rgb(26, 54, 179);
  }

.img {
    width: 55%;
    height: 350px;
}

.container{
  border: 2px dashed green;
  width: 55%;
}

.col-8{
    margin-left: 38%;
}

.col-6{
    padding-left: 15%;  
}

.btn {
    width: 150px;
}


.footer{
    height: 10vh;
    background-color: rgb(133, 133, 173);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.logo{
    height: 50%;
    width: 40px;
}

@media (min-width: 1440px){

    .container-background {
        height: 100vh;  
    }

    .img {
        height: 460px;
    }

    .container {
        height: 35vh;
        border: 4px dashed green;

    }

    .col-8 {
        margin-left: 39%;
    }


    .btn {
        width: 200px;
        height: 50px;
    }

    .footer {
        margin-top: 0%;
    }

}

@media (min-width: 312px) and (max-width: 575.98px) {

    .container-background {
        background-image: none;
    }

    .img {
        width: 100%;
        height: auto;
    }

    .container {
        width: 95%;
        height: auto;
        height: 33vh;
    }

    .col-8 {
        margin-left: 33%;
    }

    .col-6 {
        padding-left: 11%;
    }

    .btn {
        width: 100px;
    }

    .footer {
        margin-top: 16%;
    }

    .foo {
        font-size: 65%;
    }
    
    .logo {
        width: 6%;
    }
}